html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #ffffff;
  --custom-panel-color: #8A8D8F;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #000000;
  --custom-color-brand: #C9001F;
  --custom-color-hover: #780202;
  --custom-color-hover-secondary: #8A8D8F;
  --custom-color-brand-secondary: #FDB913;
  --custom-color-secondary: #ffffff;
  --custom-border: 1px solid #000000;
  --custom-border-radius: 10px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  /* color: var(--custom-color); */
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.base {
  height: 100vh;
  width: 100vw;
}

/* Grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* Forms */

label {
  display: block;
  margin: 5px 0;
  color: var(--custom-color);
  font-size: 0.8rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

input[disabled] {
  color: var(--custom-color);
}

/* Utils */

.block {
  display: block;
  width: 100%;
}
.inline-block {
  display: inline-block;
  width: 100%;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.flex-1 {
  flex: 1 1 0;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
flex.flex-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-sm {
  font-size: 0.8rem;
  font-weight: 300;
}
.text-right {
  text-align: right;
}
.font-light {
  font-weight: 300;
}
.opacity-half {
  opacity: 50%;
}

/* Button */

button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  margin-right: 5px;
  /* text-transform: uppercase; */
}

.button:hover {
  background-color: var(--custom-color-hover);
  border: 1px solid var(--custom-color-hover);
  color: var(--custom-color-secondary)
}

button.primary,
.button.primary {
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
  color: var(--custom-color-secondary)
}

.button.primary.block:hover {
  background-color: var(--custom-color-hover);
  border: 1px solid var(--custom-color-hover);
  color: var(--custom-color-secondary)
}

.button.block:hover {
  background-color: var(--custom-color-hover-secondary);
  border: 1px solid var(--custom-color-hover-secondary);
  color: var(--custom-color-secondary)
}

button.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
  color: var(--custom-color-secondary);
  border: var(--custom-border);
  background-color: var(--custom-color-brand);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}
button.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary:hover {
  background-color: #780202;
}

/* Logo */
.logo img {
  max-width: 500px; /* Adjust as needed */
  height: auto;
}


/* Navigation */
.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  /* gap: 20px; Adjust as needed */
  background-color: var(--custom-color-brand);
  text-transform: uppercase;
  padding: 0 20px;  /* Added padding */
}

.navigation a {
  color: var(--custom-color); /* Adjust as needed */
  text-decoration: none;
  /* margin: 10px; */
}

.navigation h2 a {
  color: var(--custom-color); /* Adjust as needed */
  text-decoration: none;
  margin: 15px;
  color: var(--custom-color-secondary);
  font-size: clamp(12px, 2vw, 30px); /* min, preferred, max */
}


.navigation a:hover {
  color: var(--custom-color); /* Adjust as needed */
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;  /* Added flex-grow */
}

/* Add this CSS to your globals.css or relevant stylesheet */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--custom-color-brand);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .hover {
  background-color: #3e8e41;
}


.spacer {
  flex-grow: 2;  /* New spacer div with flex-grow */
}

.user {
  display: flex;
  padding: 10px;
  z-index: 1000;
}

.banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; /* Added to vertically center the image */
  flex-grow: 1;
  background: linear-gradient(to bottom, var(--custom-color-brand), var(--custom-color-secondary)), url('/images/mens_basket_banner.png') center/cover no-repeat;
  /* border-top: var(--custom-border); */
  overflow: hidden;
  padding-top: 85px; /* This padding might not be necessary anymore */
}

.below-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px; /* Adjust this value to create space below the fixed navigation bar */
}

.below-bar.no-banner {
  padding-top: 100px; /* Adjust this value to create space below the fixed navigation bar */
}

.parent-container, .parent-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 880px;
  padding-top: 20px;
}

/* Main Content */
.main-content-column {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

.main-content-row {
  display: flex;
  flex-wrap: wrap; /* This will allow the content to wrap onto the next line on smaller screens */
  justify-content: center;
  width: 100%;
  max-width: 880px;
  margin-bottom: 20px; /* Creates space between this row and the next content area */
}

.content-area {
  padding: 20px;
  margin: 10px;
  border-radius: var(--custom-border-radius);
  box-sizing: border-box;
  width: 100%; /* Ensures full width usage */
  max-width: 1000px; /* You can adjust this value */
}

* .content-area-1 {
  background-color: var(--custom-color-brand);
  color: var(--custom-bg-color);
}

* .content-area-2 {
  padding: 20px;
  margin: 10px;
  border-radius: var(--custom-border-radius);
  box-sizing: border-box;
  width: 100%; /* Ensures full width usage */
  max-width: 1500px; /* You can adjust this value */
}

* .content-area-3 {
  padding: 20px;
  margin: 10px;
  border-radius: var(--custom-border-radius);
  box-sizing: border-box;
  width: 100%; /* Ensures full width usage */
  max-width: 1800px; /* You can adjust this value */
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-image img {
  width: 100%;
  max-width: 200px;
}

.right-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-2 {
  padding-bottom: 10px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--custom-border);
  width: 100%;
  max-width: 880px;
}

.entry {
  margin: 10px;
}

.new-medical-info {
  margin-top: 10px;
  background-color: var(--custom-color);
  color: var(--custom-bg-color);
  border: none;
  padding: 10px 20px;
}

/* Search Bar */
.search-bar {
  display: flex;
  gap: 15px; /* Adjust as needed */
  max-width: 500px;
}

.search-bar input {
  flex-grow: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust as needed */
}

.grid.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust as needed */
}

.grid.grid-cols-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Adjust as needed */
}

.grid.grid-cols-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Adjust as needed */
}

.grid.grid-cols-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Adjust as needed */
}

.grid.grid-cols-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* Adjust as needed */
}

.grid.grid-cols-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Adjust as needed */
}

.grid.grid-cols-13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr); /* Adjust as needed */
}

/* Table Headers */
.table .header-cell div {
  background-color: var(--custom-color-brand);
  color: var(--custom-color-secondary);
  padding: 10px;
  text-transform: uppercase;
  border: var(--custom-border);
}

/* Table Data */

.table .cell div {
  padding: 10px;
  border: var(--custom-border);
  color: var(--custom-color);
  flex-grow: 1; /* Ensures the div fills the cell horizontally */
}

.table a:nth-child(odd) .cell {
  background-color: var(--custom-panel-color);
}

.table .cell:nth-child(odd) {
  background-color: var(--custom-panel-color);
}

/* Hover Effect */
.table .cell:hover div {
  background-color: var(--custom-color-hover);
  color: var(--custom-color-secondary);
  transition: background-color 0.3s ease;
}

/* Link adjustments */
.table a {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  width: 100%; /* Ensures the link fills the cell horizontally */
}

/* Ensure the hover effect applies to the link for consistency */
.table a:hover {
  background-color: inherit; /* Use inherit to match the cell's hover state */
  color: inherit;
}

/* Adjustments for the first column to align the text to the left */
.table .cell:first-child,
.table .header-cell:first-child {
  text-align: left;
}

/* Reset borders and text-decoration on hover for links */
.table a,
.table a:hover {
  border: none; /* Resets any borders */
  text-decoration: none; /* Ensures no underline on hover */
}


/* News Updates in Footer */
.news-updates {
  padding: 20px; /* Adjust as needed */
}

/* Add additional rules or modify these based on your specific layout and design needs */


/* Widgets */

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

.player-card {
  border: 3px solid var(--custom-color);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 620px;
  color: var(--custom-color);
}


.player-image {
  max-width: 100%;
  height: auto;
  background-color: var(--custom-color-brand); /* New background-color for player photo */
}

.player-cards a {
  color: #000;
  text-decoration: none;
}

.player-cards a:hover {
  color: var(--custom-bg-color);
  text-decoration: none;
  background-color: var(--custom-panel-color);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.footer {
  /* Remove the position, bottom, left, and right properties */
  max-width: 100%;
  display: flex;
  flex-flow: row;
  border-top: var(--custom-border);
  background-color: var(--custom-bg-color);
}

.footer div {
  padding: var(--custom-spacing);
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;  /* Adjusted from align-items: start; */
  padding: 0 20px 20px;
}

.contact-section,
.news-updates,
.upcoming-events,
.subscribe-updates {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background: var(--section-bg-color);  /* Define --section-bg-color in your CSS variables */
  border-radius: 8px;
}

.footer a {
  color: var(--link-color);  /* Define --link-color in your CSS variables */
  text-decoration: none;
}

.footer .contact-section a {
  color: var(--custom-color-hover);  /* You can use a custom color or var(--red-color) if you have defined red in CSS variables */
}

.footer h2 {
  margin-bottom: 10px;
  font-size: 1rem;  /* Adjust as needed */
}

.footer p {
  margin: 5px 0;
  font-size: 0.9rem;  /* Adjust as needed */
}

.footer div > img {
  height: 20px;
  margin-left: 10px;
}
.footer > div:first-child {
  display: none;
}
.footer > div:nth-child(2) {
  justify-content: left;
}

@media (max-width: 768px) {
  .main-content-row {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .footer > div:first-child {
    display: flex;
  }
  .footer > div:nth-child(2) {
    justify-content: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--custom-bg-color); /* Adjust the color as per your team's color theme */
  color: black;
  padding: 10px 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-widget {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.form-widget .button:hover {
  background-color: #2a2a2a;
}

.form-widget .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}
